body {
    width: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 38px;
    font-weight: 600;
}

h2 {
    font-size: 32px;
    font-weight: 400;
}

p {
    font-size: 20px;
    font-weight: 300;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
}

header h1 {
    margin-left: 70px;
    color: white; 
    font-size: 32px; 
    font-family: "Montserrat Subrayada", sans-serif;
    font-weight: 400; 
    word-wrap: break-word
}

header img {
    margin-left: 10px;
}

section {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 120px);
}

.panel {
    display: flex;
    flex-direction: column;
    background-color: #EDEDED;
    width: 350px;
    padding: 20px;
    padding-right: 0;
}

.panel img {
    margin-right: 15px;
}

.seccion {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    cursor: pointer;
}

.seccion:hover{
    background-color: rgba(255, 93, 72, 0.514);
}

.seccion img {
    width: 100%;
    height: auto;
    max-width: 40px;
    aspect-ratio: 16/16;
}

.seccion-con-opciones {
    display: flex;
    flex-direction: column;
}

.panel-opciones {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin-left: 80px;
    margin-top: -15px;
}

.panel-opciones.mostrar {
    display: flex;
}

.centro-pagina {
    width: 100%;
}

.centro-pagina h2 {
    margin-left: 30px;
}

.forms {
    display: none;
    flex-direction: column;
    width: fit-content;
}

.forms button {
    background-color: black;
    border-radius: 12px;
    color: white;
    padding: 14px;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}


input[type="text"],
input[type="number"],
textarea, select {
    width: 350px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #007bff;
}

.contenido-central {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#estadisticas {
    display: none;
}

#productos {
    display: none;
}

.inicio {
    display: flex;
    flex-direction: column;
}

.inicio div {
    display: flex;
    flex-direction: row;
}

.inicio p {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 54px;
}

#icono-principal{
    position: absolute;
    display: flex;
    left: 11px;
    top: 22px;
    height: 50px;
    width: 45px;
}


#icono-principal:hover{
    cursor: pointer;
}

header h1:hover{
    cursor: pointer;
}

#link{
    color: black;
}

#link:hover{
    color: rgba(243, 96, 91, 0.658);
    cursor: pointer;
}

#marca-inicio{
    font-family: "Montserrat Subrayada", sans-serif;
}